<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body>

    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>

    <div class="box">
        <% for (let i = 0; i < (newListItems.length); i+=1) { %>
        <div class="item">
            <input type="checkbox">
            <p>
                <%= newListItems[i] %>
            </p>
        </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="New task" autocomplete="off">
            <button class="btn btn-primary" type="submit" name="button">+</button>
        </form>
    </div>






</body>

</html>
